<div class="input-field col s12 m6">
    <select>
        <option value="" disabled>Escolha a nota</option>
        <option value="nota1" selected>Nota 1</option>
        <option value="nota2" selected>Nota 2</option>
        <option value="nota3" selected>Nota 3</option>
        <option value="nota4" selected>Nota 4</option>
        <option value="nota5" selected>Nota 5</option>
        <option value="nota6" selected>Nota 6</option>
    </select>
    <label>Escolha a nota fiscal</label>
</div>