<div class="input-field col s12 m6">
    <select>
        <option value="" selected disabled>Escolha a nota</option>
        <option value="nota1" >Nota 1</option>
        <option value="nota2" >Nota 2</option>
        <option value="nota3" >Nota 3</option>
        <option value="nota4" >Nota 4</option>
        <option value="nota5" >Nota 5</option>
        <option value="nota6" >Nota 6</option>
    </select>
    <label>Escolha a nota fiscal</label>
</div>