<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/custom/stylesheets/style.css' />
    <link rel='stylesheet' href='/vendors/materialize/materialize.css' />
    <link type="text/css" rel="stylesheet" href="/vendors/materialize/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body>
    <!-- Header -->
    <header id="header" class="page-topbar">
        <!-- start header nav-->
        <div class="navbar-fixed">
            <nav class="navbar-color base-color">
                <div class="nav-wrapper">
                </div>
            </nav>
        </div>
    </header>
    <!-- /Header -->

    <!-- Content -->
    <section class="content">
            <%= content %>
    </section>

    <!-- /Content -->

    <script src='/vendors/jquery/jquery.min.js'></script>
    <script src='/vendors/materialize/materialize.min.js'></script>
    <script src='/custom/index.js'></script>

</body>

</html>